<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>JSF Form Page</title>
</h:head> 
<body> 
	<h:form>
		<h3>JSF Form Page</h3>
		<h:outputText style= "font-size: 8pt">Please fill in both fields before hitting submit.</h:outputText>
		<br/>
		<h:panelGrid columns="3">
			<h:outputLabel for="fname">First Name:</h:outputLabel>
			<h:inputText value="#{User.firstName}" id="fname"/>
			<br/>
			<br/>
			
			<h:outputLabel for="lname">Last Name:</h:outputLabel>
			<h:inputText value="#{User.lastName}" id="lname"/>
			<br/>
			<br/>
			
			<h:commandButton action="#{FormController.onSubmit(User)}" value="Submit" />
			<h:commandButton action="#{FormController.onFlash(User)}" value="Flash" />
		</h:panelGrid>
	</h:form>
</body> 
</html>
